body{
  
    margin: 50px;
    background-color: darkkhaki;
}
.navbar{
    background-color: rgb(96, 161, 145);
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
#parametersForm{

    margin-top: 30px;
}